{{ partial "header.html" . }}

<div class="color-bar">
</div>

<div class="container">
	<div class="row no-hidden">
		<div class="col-sm-9">
			<div class="content">
				<h1>{{ .Title }}</h1>
				<div class="post-info">
					<i class="ion ion-ios-calendar-outline"></i> {{ dateFormat "Monday, Jan 2, 2006" .Date }} |
					<i class="ion ion-social-twitter-outline"></i>
					<a href="{{.Params.twitter }}">{{ .Params.author }}</a> |
					<i class="ion ion-ios-clock-outline"></i> {{ .ReadingTime }} Minutes
				</div>
				{{ .Content }}

				<hr>
				{{ partial "comments.html" .}}
			</div>
		</div>

		<div class="col-sm-3">

			<div class="course-sidebar">
					<h4>Course</h4>

					{{ range $key, $value := .Params.series }} {{ range sort (index $.Site.Taxonomies.series $value) }}
					<a href="{{ .Permalink }}">
						<!-- <img src="/images/{{ $.Params.image }}" alt="{{ $.Title }} Logo"> -->
						<h5>{{ .Title }}</h5>
					</a>
					<hr/>
					{{ end }} {{ end }}


			</div>

		</div>


	</div>
</div>



{{ partial "footer.html" . }}