{{ partial "header.html" . }}

<div class="full-width">
	<div class="row no-hidden">
		<div class="col-sm-9">

			<article class="content">
				<div class="post-content">
					<article>
						<h1>{{ .Title }}</h1>

						<div class="post-info">
							<span><i class="ion ion-ios-calendar-outline"></i> {{ dateFormat "Jan 2, 2006" .Date }}</span>
							<span><i class="ion ion-social-twitter-outline"></i>
								<a href="{{.Params.twitter }}">{{ .Params.author }}</a></span>
							<span><i class="ion ion-ios-clock-outline"></i> {{ .ReadingTime }} Minutes</span>
							<span><i class="ion ion-pricetags"></i>
								{{ range .Params.tags }}
								<a href="/tags/{{.}}"><span class="badge badge-pill badge-info">{{ . }}</span></a>
								{{ end }}
							</span>
						</div>
						<div class="toc">
							<h4>Table Of Contents</h4>
							{{.TableOfContents}}
						</div>
						{{ .Content }}
					</article>
				</div>

				<div class="post_divider"></div>

				<ul class="social-btns">
					<li>
						<a target="_blank" href="https://twitter.com/share?url={{ .Permalink }}" class="social-btn-dissolve twitter">
							<i class="ion ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="social-btn-dissolve facebook">
							<i class="ion ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}" class="social-btn-dissolve google">
							<i class="ion ion-social-googleplus"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="mailto:?&subject={{ .Title }}&body={{ .Permalink }}" class="social-btn-dissolve tumblr">
							<i class="ion ion-ios-email"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Params.desc }}"
						 class="social-btn-dissolve linkedin">
							<i class="ion ion-social-linkedin"></i>
						</a>
					</li>
				</ul>

				{{ partial "comments.html" .}}

			</article>
		</div>


		<div class="col-sm-3">
			{{ partial "sidebar.html" . }}
		</div>


	</div>
</div>

<script>
	// var sidebar = new StickySidebar('#sidebar', {topSpacing: 20});
</script>

{{ partial "footer.html" . }}