body {
   font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #3D4C62;
  font-weight: 400;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #333;
}

::selection {
  background: #546389;
  color: #fff;
}

article ol {
  list-style-type: none;
  clear: both;
}

article ol li {
  position: relative;
  margin-bottom: 10px;
  counter-increment: step-counter;
}

article ol li:before {
  content: counter(step-counter);
  margin: 0 10px 0 -40px;
  font-size: .8rem;
  color: #5e6e99;
  padding: 0;
  border: 1px solid rgba(10, 46, 74, .2);
  border-radius: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: -1px;
}

nav {
  background-color: #14233C;
}

nav .brand-logo {
  font-weight: 300;
  margin-left: 10px;
}

nav img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

nav .button-collapse {
  margin-left: 10px;
}

nav li:first-child {
  border-left: 1px solid #3B4951;
}

nav li:not(:last-child) {
  border-right: 1px solid #3B4951;
}

nav .button-collapse .ion {
  color: white !important;
}

.pagination {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.pagination .total-count {
  padding: 20px;
}

.pagination a {
  color: #1bbbef;
  text-decoration: none;
  padding: 0.5em 1.5em;
  border: 1px solid #1bbbef;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.flexbox-courses {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  background: #F3F4F5;
  margin: 15px;
  display: flex;
  height: 314px;
  border-radius: 5px;
  box-shadow: none;
}

.card-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}


.blog-list-article {
  height: 285px;
  position: relative;
  display: block;
  background: #F3F4F5;
  margin-bottom: 20px;
}

.blog-list-article:nth-child(even) {
  background: #F3F4F5
}

.blog-list-article:nth-child(n+7) {
  display: none
}



@media (min-width: 550px) {
  .blog-list-article {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    background: #F3F4F5;
    height: 314px;
    width: 100%;
    margin: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px
  }
  .blog-list-article:hover {
    background-color: #E6E9EC
  }
}

@media (min-width: 728px) {
  .blog-list-article {
    width: 100%;
  }
}

.blog-list-article-date, .blog-list-article-category {
  position: absolute;
  top: 20px;
  color: #A3AAB4;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500
}

@media (min-width: 550px) {
  .blog-list-article-date, .blog-list-article-category {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    position: absolute;
    top: 30px
  }
}

.blog-list-article-date {
  text-transform: uppercase;
  position: absolute;
  left: 20px
}

@media (min-width: 550px) {
  .blog-list-article-date {
    left: 30px
  }
}

.blog-list-article-category {
  position: absolute;
  right: 20px
}

@media (min-width: 550px) {
  .blog-list-article-category {
    right: 30px
  }
}

.blog-list-article-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 80px
}

@media (min-width: 550px) {
  .blog-list-article-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    margin-right: 160px
  }
}

@media (min-width: 728px) {
  .blog-list-article-content {
    margin-right: 0
  }
}

.blog-list-article-title {
  color: #14233C;
  font-family: "Avenir Next", "Montserrat";
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-right: -60px
}

@media (min-width: 370px) {
  .blog-list-article-title {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700
  }
}

@media (min-width: 550px) {
  .blog-list-article-title {
    font-size: 18px;
    line-height: 25px;
    margin-right: 0
  }
}

.blog-list-article-excerpt {
  color: #3D4C62;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500
}

@media (min-width: 550px) {
  .blog-list-article-excerpt {
    font-size: 14px;
    line-height: 24px
  }
}

.blog-list-article-arrow {
  width: 18px;
  position: absolute;
  bottom: 25px;
  right: 20px
}

@media (min-width: 550px) {
  .blog-list-article-arrow {
    position: absolute;
    bottom: 30px;
    right: 26px
  }
}

@media (min-width: 726px) {
  .blog-list-article-arrow {
    display: none
  }
}

.courses {
  width: 100%;
  padding: 40px;
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #fafafa !important;
  border-bottom: 1px solid #f6f4f4;
  text-align: center;
}

.courses h2 {
  color: #074E68 !important;
  font-size: 2.9375rem;
  font-weight: 400;
  line-height: 3.125rem;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.course-card {
  width: 100%;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0px 0px 4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.4s ease, top 0.4s ease, width 0.4s ease, height 0.4s ease;
}

.course-card:hover {
  box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.5);
  top: -5px;
}

.course-card .top-half {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  background-color: #333333;
}

.course-card .top-half img {
  width: 150px;
  height: auto;
}

.course-card .bottom-half {
  margin-left: 5%;
  margin-top: 12px;
  width: 90%;
  text-align: center;
}

.course-card .title {
  font-size: 22px;
  color: #555555;
  margin-bottom: 2px;
}

.course-card .subtitle {
  font-size: 12px;
  color: #999999;
}

.tutorials {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about {
  width: 100%;
  padding: 40px;
  background-color: #fafafa !important;
  border-top: 1px solid #f6f4f4;
}

.about .ion {
  color: #074E68;
  margin-top: 50px;
  font-size: 120px;
}

.about h3 {
  font-size: 26px;
  margin-top: 20px;
  color: #333;
}

.about p {
  font-size: 1em;
  color: #333;
}

.row {
  max-width: 100%;
  overflow: hidden;
}

.title-bar {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F3F4F5;
  color: #14233C;
}
.title-bar-container {
  position: relative;
  height: 256px;
  max-width: 736px;
  margin: auto;
}
.title-bar .date {
  position: absolute;
  left: 20px;
  top: 10px;
}
.title-bar .category {
  position: absolute;
  right: 20px;
  top: 10px;
}
.title-bar .category a {
    background-color: #e8e9ec;
        top: 30px;
    padding: 9px 22px 8px;
    border-radius: 5px;
    font-weight: 600;
        color: #3D4C62;
}

.title-bar h1 {
  position: relative;
  top: 40%;
  transform: translateY(-60%);
  font-size: 35px;
  font-weight: 600;
  line-height: 3.125rem;
}
.title-bar .tags {
    position: absolute;
    bottom: 40px;
    width: 200px;
    left:50%;
    margin-left:-100px;
}

.title-bar p {
  color: white !important;
}

.chip {
  background-color: #14233C !important;
  color: white !important;
  margin-bottom: 10px;
}

.left-sidebar {
  padding: 20px;
  padding-top: 40px;
}

.left-sidebar h3 {
  padding: 0;
  margin: 0;
}

.left-sidebar img {
  margin: auto !important;
}

.left-sidebar h3 {
  color: #262626;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 10px 0;
  letter-spacing: 1px;
  clear: both;
}

.left-sidebar ul li {
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  padding: 7px 0 7px 5px;
}

.left-sidebar ul li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.left-sidebar ul li a:hover {
  text-decoration: underline;
}

article {
  background-color: white;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  margin: auto;
  color: #3D4C62;
}

article h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  clear: both;
}

article h1 {
  font-size: 34px;
}

article h2 {
  font-size: 26px;
}

article h3 {
  font-size: 22px;
}

article h4 {
  font-size: 18px;
}

article h5 {
  font-size: 16px;
}

article .info {
  color: #999;
  font-size: 0.9em;
  padding: 0;
  text-align: center;
}

article ul li {
  list-style-type: square !important;
  margin-left: 20px;
}

article pre {
  position: relative;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
  background-color: #F0F0F0;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  font-family: "Source Code Pro", Monaco, Courier New, Courier, mono;
  font-weight: 200;
}

article p > code {
  padding: .3rem .5rem;
  background-color: #F5F5F5; 
  margin: 0 .1rem;
  line-height: 1;
  font-family: "Source Code Pro", Monaco, Courier New, Courier, mono;
  font-weight: 600;
  font-size: .95rem;
}

article blockquote {
  border-left: 4px solid #1EC4D6;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #D7F9FD;
}

article img.book-img {
  float: left;
  width: 260px;
  height: auto;
  margin: 20px;
}

article .amazon-link {
  margin: 20px 0px;
  padding: 30px 20px 30px 100px;
  background: #f8f8f8 url(../uploads/amazon.png) no-repeat 20px 50%;
  background-size: 65px 60px;
  background-repeat: no-repeat;
  font-weight: bold;
  clear: both;
}

.lesson {
  border-bottom: 1px solid #F1F4F9;
  margin-bottom: 20px;
  padding: 20px;
}

.lesson-number {
  text-align: center;
}

.lesson-number .circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #0288d1;
  color: white;
  padding-top: 12px;
  font-size: 48px;
  margin: auto;
}

.lesson-info h3 {
  margin: 0;
  padding: 0;
  border: none;
}

@media only screen and (min-width: 486px) {
  .container {
      width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .container article {
    width: 80%;
  }
}

.container img {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.welcome-bar {
  background: #195c7d;
  background: -moz-linear-gradient(left,#195c7d 1%,#0e3345 100%);
  background: -webkit-linear-gradient(left,#195c7d 1%,#0e3345 100%);
  background: linear-gradient(to right,#195c7d 1%,#0e3345 100%);
  color: white;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.welcome-bar h1 {
  color: white !important;
  font-size: 2.9375rem;
  font-weight: 600;
  line-height: 3.125rem;
}

.title-bar p {
  color: white !important;
}

.join-us {
  background-color: #22798A;
  width: 100%;
  padding: 20px;
}

.join-us h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.join-us p {
  clear: both;
  color: #fff;
  font-size: 13px;
  margin-bottom: 0;
}

.join-us button {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  color: #22798A;
}

footer.page-footer{
  background-color: #303C42;
  color: #fff;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0;
}
footer.page-footer h3 {
  color: #fff;
  font: 500 14px/16px Roboto,sans-serif;
  margin: 0 0 8px;
}
footer.page-footer .row {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
}
footer.page-footer .padded {
 padding: 40px;
}
footer.page-footer .col {
  margin:0;
  padding: 0;
  flex: 1;
}
footer h5 {
  color: white;
}
footer .footer-special {
  flex: 1;
    background: #37424b;
}
footer .footer-special .logo{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #455a64;
  display: block;
}
footer .footer-special .logo a {
      margin: -6px 0 0;
    max-width: 216px;
    font-size: 26px;
    color: white;
    font-weight: 200;
    width: 100%;
    vertical-align: top;
}
footer .footer-special img {
  width: 50px;
  height: 50px;
}

footer ul li a {
      color: #cfd8dc;
    display: block;
    padding: 4px 0;
}
footer p {
  color: #cfd8dc;
}

footer .footer-copyright {
  background-color: #455A64 !important;
  color: #fafafa !important;
  padding-left: 20px;
  padding-right: 20px;
}

.clear {
  clear: both;
}

.wrapper {
  margin: 63px auto;
  padding: 10px;
}

.wrapper .container {
  background-color: #fff;
  text-align: center;
  height: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.wrapper .trophy {
  margin-bottom: 24px;
}

.wrapper h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1a1a1a;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.wrapper hr {
  height: 3px;
  width: 30px;
  background-color: #cf092c;
  margin: auto;
}

.wrapper p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #999999;
  font-size: 15px;
  padding: 0 15%;
  line-height: 24px;
}

.wrapper .buy img {
  width: 60%;
}

.wrapper .buttons {
  width: 100%;
  text-align: center;
}

.wrapper .buttons .button {
  display: block;
  background-color: #FF9900;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  height: 48px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.wrapper .buttons .button:hover span {
  border-bottom: 1px solid #fff;
}

.wrapper .buttons .button.light {
  background-color: #4fc3f7;
}

.wrapper img {
  margin: auto !important;
}

.search-bar {
  background-color: #F3F4F5;
  padding: 40px;
}

.search-results {
  width:100%;
  padding: 40px;
  background-color: white;
}

.search-result {
  margin-bottom: 20px;
  margin-top: 20px;
}
.search-result .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 22px;
  max-height: 44px;
  padding-bottom: 5px;
  color: #545454;
}
.search-result h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #1a0dab;
}

.search-result .url {
  color: #006621;
  margin: 0;
  padding: 0;
}



.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  margin-top: 5px;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.toc nav, .toc nav ul, .toc nav ul li, .toc nav ul li a, .toc nav ul li:first-child, .toc nav ul li:not(:last-child) {
   all: unset;
}
.toc {
  background: #F3F4F5;
  padding: 20px;
  border-radius: 5px;
}
.toc h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.toc ul {
  margin: 0;
padding: 0;
}
.toc nav ul li{
  list-style: square;
  display: block;
}
.toc nav ul li a {
  display: block;
}
.toc nav ul li ul li a:hover {
  text-decoration: underline;
}

