{{ partial "header.html" . }}

<div class="title-bar">
	<div class="container">
		<h1>{{ .Title }}</h1>
	</div>
</div>

<div class="container">
	<div class="row flexbox-courses">
		{{ $paginator := .Paginate .Data.Pages.Series }} {{ range $paginator.Pages }}
		<div class="col l4 m6 s12">
			<a href="{{ .RelPermalink }}" class="blog-list-article">
				<div class="blog-list-article-date">{{ .Date.Format "02 Jan 06" }}</div>
				{{ range $key, $value := .Params.series }} 
				<div class="blog-list-article-category">{{ $value }}</div>
				{{ end }}
				<div class="blog-list-article-content">
					<div class="blog-list-article-title">{{ .Title }}</div>
					<div class="blog-list-article-excerpt">{{ .Params.desc }}</div>
				</div>
			</a>
		</div>
		{{ end }}
	</div>
	{{ partial "pagination.html" . }}
</div>
{{ partial "footer.html" . }}