{{ partial "header.html" . }}

<div class="course-listing">
    <h3>Courses - Coming Soon!</h3>

    <div class="courses">
        {{ range .Site.Data.courses.index }}
            <a href="#">
                <div class="course-box">
                    <img src="{{ .img }}" alt="">
                    <h2><small>{{ .Params.difficulty }}</small><br />{{ .title }}</h2>
                    <p>{{ .desc }}</p>
                    {{ range .tech }}
                    <span class="badge badge-pill badge-success">{{ . }}</span>
                    {{ end }}
                    <div class="clear"></div>
                    <button class="btn btn-primary">Coming Soon!</button>
                </div>
            </a>
        {{ end }}
    </div>
</div>


{{ partial "footer.html" . }}