{{ partial "header.html" . }}

<div class="top-bar">
	<div class="container">
		<h2>{{.Title}}</h2>
	</div>
</div>

<div class="course-listing">
	<div class="container">
		<div class="courses">
			{{ $paginator := .Paginate .Data.Pages }} {{ range $paginator.Pages }}
				<a class="course-progress-box" href="{{ .RelPermalink }}">
					{{ if .Params.image }}
					<img src="https://images.tutorialedge.net/images/{{ .Params.image }}" alt="{{ .Title }} Image">
					{{ else }}
					<img src="{{ .Site.BaseURL }}/images/logo.svg" alt="{{ .Title }} Image">
					{{ end }}
					<h2><small><b>Lesson</b> {{ .Params.Weight }}						</small><br />{{ .Title }}</h2>
					<button class="btn btn-success">Read Now</button>
				</a>
			{{ end }}
		</div>
		<div class="center-align">
			{{ partial "pagination.html" . }}
		</div>
		<div class="clear"></div>
	</div>
</div>
{{ partial "footer.html" . }}