{{ partial "header.html" . }}

<div class="top-bar">
    <div class="container">
      <h1>
        <img
          src="https://images.tutorialedge.net/images/logo.svg"
          alt="{{ .Title }} Image"
        />
        {{ .Title }}
      </h1>
    </div>
  </div>

<div class="content h-100">
	<div class="container">
        {{ .Content }}
    </div>
</div>

<div class="blue-spacer"></div>

<style>
.content {
    min-height: 45vh;
}

.content img {
    margin-top: 80px;
}

.content h1 {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
</style>

{{ partial "footer.html" . }}