{{ partial "header.html" . }}


<div class="blue-spacer"></div>

<div class="content h-100">
	<div id="target" class="container">
        <h1>Profile: [[name]]</h1>
        <hr/>
        <a href="/logout/" class="btn btn-warning">Logout</a>
    </div>
</div>

<div class="blue-spacer"></div>

<style>
.content {
    min-height: 45vh;
}

.content img {
    margin-top: 80px;
}

.content h1 {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
</style>

{{ partial "footer.html" . }}