{{ partial "header.html" . }}

<div class="top-bar">
  <div class="container">
    <h2>Profile Dashboard</h2>
  </div>
</div>

<div class="container course-listing">
  <h3>Your Courses</h3>

  <div class="row">

    <div class="col-lg-6">
      <div class="course-progress-box">
        <h2><small>Language</small><br />Golang</h5>
          <button class="btn btn-success">Continue Course</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="course-progress-box">
        <h2><small>Language</small><br />Python</h5>
          <button class="btn btn-success">Continue Course</button>
      </div>
    </div>


  </div>

</div>




{{ partial "footer.html" . }}