{{ partial "header.html" . }}


<div class="blue-spacer"></div>

<div class="content h-100">
	<div id="target" class="container">
        <div class="profile">
            <img src="[[user.picture]]" class="profile-image" alt="Profile Picture">

            <h2>Profile: [[user.name]] <br/>
            <small>Thank you for Registering - This is currently in BETA</small></h2>
        </div>

        <div class="profile-info">
        </div>

        <hr/>

        <p><b>Privacy Policy: <a href="/privacy/">Read Now</a></b></p>

        <a href="/logout/" class="btn btn-warning">Logout</a>
    </div>
</div>

<div class="blue-spacer"></div>

<style>
.content {
    min-height: 45vh;
}

.content img {
    margin-top: 80px;
}

.content h1 {
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}
</style>

{{ partial "footer.html" . }}