{{ partial "header.html" . }}

<div class="bg-gray-800 py-4 px-16 text-center text-white">
    <h1 class="flex mx-auto">
        {{ if .Params.image }}
        <img class="w-16 h-auto" src="https://images.tutorialedge.net/images/{{ .Params.image }}" alt="{{ .Title }} Image">
        {{ else }}
        <img class="w-16 h-auto" src="https://images.tutorialedge.net/images/logo.svg" alt="{{ .Title }} Image">
        {{ end }}
        <span class="text-3xl ml-8 mt-3">{{.Title}}</span>
    </h1>
</div>

<div class="bg-white">
	<article class="prose">
		{{ .Content }}
	</article>
</div>

<div class="article-list bg-gray-100">
	<div class="max-w-screen-xl mx-auto">
		<h3>Course Lessons</h3>

		<div class="md:grid md:grid-cols-3 md:col-gap-8 md:row-gap-10">
			{{ range .Pages }}
			<a href="{{ .Permalink }}">
				<div class="flex-1 bg-white rounded px-8 py-8 text-center m-4 shadow">
					{{ if .Params.image }}
                    	<img class="w-24 mx-auto h-auto" src="https://images.tutorialedge.net/images/{{ .Params.image }}" alt="Sunset in the mountains">
                    {{ end }}
					<p class="text-sm text-gray-800">Project Name</p>
					<h2 class="text-xl">{{ .Title }}</h2>
					<p class="text-sm mt-4 text-gray-800">{{ .Page.Params.desc }}</p>
					<button class="btn mx-auto btn-success">Start Project</button>
				</div>
			</a>
			{{ end }}

		</div>
	</div>
</div>


{{ partial "footer.html" . }}