{{ partial "header.html" . }}


<div class="top-bar">
	<div class="container">
		<h1>
			{{ if .Params.image }}
			<img src="{{ .Site.BaseURL }}/images/{{ .Params.image }}" alt="{{ .Title }} Image">
			{{ else }}
			<img src="{{ .Site.BaseURL }}/images/logo.png" alt="{{ .Title }} Image">
			{{ end }}
			Course: {{.Title}}</h1>
	</div>
</div>

<div class="course-outline">
	<div class="container">
		{{ .Content }}
	</div>
</div>

<div class="course-listing">
	<div class="container">
		<h3>Course Lessons</h3>

		<div class="row">
			{{ range $key, $value := .Params.series }}
			{{ range sort (index $.Site.Taxonomies.series $value) }}
			{{ if not .Params.homepage }}
			<div class="col-lg-4">
				<a href="{{ .Permalink }}">
					<div class="course-progress-box">
						<h2><small>Lesson | {{ .ReadingTime }} <i class="ion ion-ios-clock-outline"></i> </small><br />{{ .Title }}</h2>
						<p>{{ .Page.Params.desc }}</p>
						<p>Published: {{ dateFormat "Monday, Jan 2, 2006" .Page.Date }}</p>
						<button class="btn btn-success">View Lesson</button>
					</div>
				</a>
			</div>
			{{ end }}
			{{ end }}
			{{ end }}

		</div>
	</div>
</div>


{{ partial "footer.html" . }}