{{ partial "header.html" . }}

<div class="top-bar">
	<div class="container">
		<h1>
			{{ if .Params.image }}
			<img src="https://images.tutorialedge.net/images/{{ .Params.image }}" class="small-no-show" alt="{{ .Title }} Image">
			{{ else }}
			<img src="https://images.tutorialedge.net/images/logo.svg" class="small-no-show" alt="{{ .Title }} Image">
			{{ end }}
			{{ .Title }}</h1>
	</div>
</div>

<div class="post-info">
	<div class="container">
		<div class="post-info-inner">
			<span>
				{{ if .Params.authorImage }}
				<img class="author" src="{{ .Params.authorImage }}" alt="{{ .Params.author }}" />
				{{ else }}
				<img class="author" src="https://images.tutorialedge.net/images/logo.svg" alt="{{ .Params.author }}" />
				{{ end }}
				<a href="{{.Params.twitter }}">{{ .Params.author }}</a>
			</span>
			<span><img class="icon" src="https://tutorialedge.net/images/svg/clock.svg" alt="clock"/>{{ .ReadingTime }} Minutes</span>
      <span><img class="icon" src="https://tutorialedge.net/images/svg/calendar.svg" alt="clock"/> {{ dateFormat "Jan 2, 2006" .Date }}</span>
			<span>
				{{ range .Params.tags }}
				<a href="/tags/{{.}}"><span class="badge badge-pill badge-info">{{ . }}</span></a>
				{{ end }}
			</span>
		</div>
	</div>
</div>

<div class="container">
	<div class="row no-hidden">
		<div class="col-sm-12">
			<article class="content">
				{{ .Content }}
			</article>
		</div>
	</div>
</div>

<div class="comments">
	<div class="container">
		{{ partial "comments.html" . }}
	</div>
</div>

<div class="blue-spacer"></div>
	


{{ partial "footer.html" . }}