{{ partial "header.html" . }}

<div id="app">
    <div class="search-bar">
        <div class="container center">
            <div class="input-group">     
                <input class="form-control" v-model="searchQuery" type="text" placeholder="Search Now...">
            </div>
            <div class="input-group">
                <button class="btn btn-primary search-btn" v-on:click="search">Search</button>
            </div>
        </div>
    </div>  

    <div class="search-results">
        <div class="container">
            <div class="result-stats">
                <p>Page: <b><% page %></b> of <% pages %> | Total Hits <b><% total_hits %></b></p>
                <p>Top 10 Results</p>
            </div>

            <div class="search-result" v-for="result in results.hits">
                <a v-bind:href="result.id">
                    <h3><% result.fields.Title %></h3>
                </a>
                <span class="url">https://tutorialedge.net<% result.id %><br/></span>
                <span class="description"><% result.fields.Body %></span>
                <span class="weight">Weight: <% normalize(result.score) %></span>
                <br/>
            </div>
            <div class="center-align">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li v-if="page >= 1" class="page-item"><a @click="prevPage()" class="page-link">Previous</a></li>
                        <li v-for="page in pages" class="page-item"><a @click="setPage(page)" class="page-link"><% page %></a></li>
                        <li v-if="page <= pages" class="page-item"><a @click="nextPage()" class="page-link">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["<%","%>"],
        data() {
            return {
                results: {},
                searchQuery: '',
                pages: 1,
                page: 1,
                total_hits: 0,
                page_size: 20
            }
        },
        created: function() {
            if (this.getQueryParam("query")) {
                this.searchQuery = this.getQueryParam("query");
                this.search();
            }
        },
        methods: {
            search: function (event) {
                let data = {
                    "query": { "boost": 1.0, "query": this.searchQuery },
                    "highlight": { "fields": ["body"] },
                    "from": this.page,
                    "fields": ["*"]
                };
                axios({
                    method: 'POST',
                    url: 'https://api.tutorialedge.net/search',
                    headers: { 'Content-Type': 'application/json' },
                    data: data
                }).then(function(response) {
                    app.$nextTick(function() {
                        this.results = response.data;
                        this.total_hits = response.data['total_hits'];
                        this.pages = Math.ceil((response.data.total_hits / 10))
                    })
                }).catch(function(err) { console.log(err) })
            },
            getQueryParam: function(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return(false);
            },
            prevPage: function () {
                app.$nextTick(function() {
                    this.page -= 1;
                    this.search()
                })
            },
            nextPage: function () {
                app.$nextTick(function() {
                    this.page += 1
                    this.search()
                })
            },
            setPage: function (page) {
                app.$nextTick(function() {
                    this.page = page
                    this.search()
                })
            },
            range: function (count) {
                for (var i = 0; i < count; i++) { this.pages.push(i) }
                return pages
            },
            normalize: function (score) {
                return Math.round((score) * 100) + "%"
            },
            roundTook: function (took) {
                if (took < 1000 * 1000) {
                    return "<1ms"
                } else if (took < 1000 * 1000 * 1000) {
                    return "" + Math.round(took / (1000* 1000)) + "ms"
                } else {
                    var roundMs = Math.round(took / (1000* 1000))
                    return "" + roundMs / 1000 + "s"
                }
            }
        }
    })
</script>

{{ partial "footer.html" . }}