{{ partial "header.html" . }}

<div class="top-bar">
	<div class="container">
		<h2>{{.Title}}</h2>
	</div>
</div>

<div class="course-listing">
	<div class="container">
		<div class="row">
			{{ $paginator := .Paginate .Data.Pages }} {{ range $paginator.Pages }}
			<div class="col-sm-4">
				<a href="{{ .RelPermalink }}">
					<div class="course-progress-box">
						{{ if .Params.image }}
						<img src="{{ .Site.BaseURL }}/images/{{ .Params.image }}" alt="{{ .Title }} Image">
						{{ else }}
						<img src="{{ .Site.BaseURL }}/images/logo.png" alt="{{ .Title }} Image">
						{{ end }}
						<h2><small><b>Lesson</b> {{ .Params.Weight }} | <b>Time</b> {{ .ReadingTime }} <i class="ion ion-ios-clock-outline"></i>
							</small><br />{{ .Title }}</h2>
						<button class="btn btn-success">Continue Course</button>
					</div>
				</a>
			</div>
			{{ end }}
		</div>
		<div class="center-align">
			{{ partial "pagination.html" . }}
		</div>
		<div class="clear"></div>
	</div>
</div>
{{ partial "footer.html" . }}