<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TutorialEdge Redirect</title>
    <link async rel="stylesheet" href="/css/ionicons.min.css">
	<link async rel="stylesheet" href="https://use.typekit.net/jnu8xif.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
    <div class="top-bar">
        <a href="https://tutorialedge.net/" /><img src="https://images.tutorialedge.net/images/logo.png" alt=""></a>
        <h2>Sign Up To TutorialEdge</h2>
    </div>
    <div class="info container">
        <div class="row">
            <div class="col-sm-6">
                <p>Join the thousands of developers already subscribed!</p>
            </div>
            <div class="col-sm-6">
                <p>Join the thousands of developers already subscribed!</p>
            </div>
        </div>
    </div>

    <style>
    body {
        background-color: #F5F6F8;
        margin: 0;
        padding: 0;
    }
    .top-bar {
        text-align: center;
        color: white;
        background-color: #2A2B33;
        width: 100%;
        padding: 40px 80px;
    }
    .top-bar img {
        margin-bottom: 20px;
        width: 75px;
        height: auto;
    }
    .info {
        width: 100%;
        text-align: center;
        padding: 40px 80px;
    }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10255990-23"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-10255990-23');
	</script>

</body>
</html>