{{ partial "header.html" . }}



<div class="content container">
	<div class="row">

		<div class="col-sm-12">

				<aricle>
					<div class="post-content">
						{{ .Content }}
					</div>

					<div class="post_divider"></div>

					<div class="row">
						<div>
							<ul class="social-btns">
								<li>
									<a target="_blank" href="https://twitter.com/share?url={{ .Permalink }}" class="social-btn-dissolve twitter">
										<i class="ion ion-social-twitter"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" class="social-btn-dissolve facebook">
										<i class="ion ion-social-facebook"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://plus.google.com/share?url={{ .Permalink }}" class="social-btn-dissolve google">
										<i class="ion ion-social-googleplus"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="mailto:?&subject={{ .Title }}&body={{ .Permalink }}" class="social-btn-dissolve tumblr">
										<i class="ion ion-ios-email"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&summary={{ .Params.desc }}"
									 class="social-btn-dissolve linkedin">
										<i class="ion ion-social-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>

						<div>
							<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

							<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6782067367590597" data-ad-slot="4096707282" data-ad-format="auto"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>

						<div class="clear"></div>
					</div>

				</article>
		</div>
	</div>
</div>
<script>
	$('.post-content h2').each(function () { $(this).append(' <a href=#' + $(this).context.id + '><i class="ion ion-link"></i> </a>') })
	$('.post-content h3').each(function () { $(this).append(' <a href=#' + $(this).context.id + '><i class="ion ion-link"></i> </a>') })
	$('.post-content h4').each(function () { $(this).append(' <a href=#' + $(this).context.id + '><i class="ion ion-link"></i> </a>') })
	$('.post-content h5').each(function () { $(this).append(' <a href=#' + $(this).context.id + '><i class="ion ion-link"></i> </a>') })
</script> {{ partial "footer.html" . }}