{{ partial "header.html" . }}

<div class="top-bar">
  <div class="container">
    <h1>
      {{ if .Params.image }}
      <img
        src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
        data-src="https://images.tutorialedge.net/images/{{ .Params.image }}"
        alt="{{ .Title }} Image"
      />
      {{ else }}
      <img
        src="https://images.tutorialedge.net/images/logo.svg"
        alt="{{ .Title }} Image"
      />
      {{ end }}
      {{ .Title }}
    </h1>
    <div class="post-info">
      <div class="post-info-inner">
          
    
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="content-container">
    <div class="row">

      <div class="d-none d-sm-none col-sm-2 d-md-block">
        <div class="sidebar">
          {{ partial "sidebar.html" . }}
        </div>
      </div>

      <div class="col-sm-12 col-md-8">
        <article class="content">
          <div class="info">
            <span>
              {{ if .Params.authorImage }}
              <img class="author" src="{{ .Params.authorImage }}" alt="{{ .Params.author }}" />
              {{ else }}🖊️{{ end }}
              <a href="{{.Params.twitter }}">{{ .Params.author }}</a>
            </span>
            <span>⏰ {{ .ReadingTime }} Minutes</span> 
            <span>📅 {{ dateFormat "Jan 2, 2006" .Date }}</span>
          </div>

          <div class="toc">
            <h4>Table Of Contents</h4>
            {{.TableOfContents}}
          </div>      

          {{ .Content }}
          {{ partial "register.html" . }}
        </article>
        <div class="comments">
          {{ partial "comments.html" . }}
        </div>
      </div>

      <div class="col-sm-2 col-md-2 d-none d-md-block">
        <div id="right-sidebar">
          <div class="clear"></div>
          <div id="codefund"><!-- fallback content --></div>
          <script src="https://codefund.io/properties/330/funder.js" async="async"></script>
          <div class="clear"></div>
        </div>
      </div>



    </div>
  </div>
</div>


<script src="/js/sticky-sidebar.min.js"></script>

<script>
  // Add anchors on DOMContentLoaded
  document.addEventListener("DOMContentLoaded", function(event) {
    var sidebar = new StickySidebar("#right-sidebar", { topSpacing: 10 });
    var sidebar = new StickySidebar(".sidebar", { topSpacing: 10 });
  });
</script>

<div class="blue-spacer"></div>

{{ partial "footer.html" . }}
