{{ partial "header.html" . }}

<div class="title-bar">
	<div class="title-bar-container">
		<div class="date">{{ .Date.Format "02.01.2006 15:04" }}</div>
		<div class="category">
			{{ range $key, $value := .Params.series }}
			<a href="/series/{{ $value }}">{{ $value }}</a> {{ end }}
		</div>
		<h1>{{ .Title }}</h1>
		<div class="tags">
			{{ range .Params.tags }}
			<a href="/tags/{{ . }}">
				<div class="chip">{{ . }}</div>
			</a>
			{{ end }}
		</div>
	</div>
</div>

<div class="container">
	<article>
		<div class="info">Author: {{ .Params.author }} | <a target="_blank" href="https://twitter.com/elliot_f">@Elliot_F</a></div>
		<div>
			{{ .Content }}
		</div>
		<div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- left-sidebar -->
			<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6782067367590597" data-ad-slot="4096707282" data-ad-format="auto"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>

		<div class="row">
			<h2>Related Posts</h2>
			{{ if .PrevInSection }}
			<div class="col l6">
				<a href="{{ .PrevInSection.RelPermalink }}" class="blog-list-article">
				<div class="blog-list-article-date">{{ .PrevInSection.Date.Format "02 Jan 06" }}</div>
				{{ range $key, $value := .PrevInSection.Params.series }} 
				<div class="blog-list-article-category">{{ $value }}</div>
				{{ end }}
				<div class="blog-list-article-content">
					<div class="blog-list-article-title">{{ .PrevInSection.Title }}</div>
					<div class="blog-list-article-excerpt">{{ .PrevInSection.Params.desc }}</div>
				</div>
			</a>
			</div>
			{{ end }}
			{{ if .NextInSection }}
			<div class="col l6">
				<a href="{{ .RelPermalink }}" class="blog-list-article">
				<div class="blog-list-article-date">{{ .NextInSection.Date.Format "02 Jan 06" }}</div>
				{{ range $key, $value := .NextInSection.Params.series }} 
				<div class="blog-list-article-category">{{ $value }}</div>
				{{ end }}
				<div class="blog-list-article-content">
					<div class="blog-list-article-title">{{ .NextInSection.Title }}</div>
					<div class="blog-list-article-excerpt">{{ .NextInSection.Params.desc }}</div>
				</div>
			</a>
			</div>
			{{ end }}
		</div>

		<div>
			{{ partial "comments.html" . }}
		</div>
	</article>
</div>
{{ partial "footer.html" . }}