{{ partial "header.html" . }}

<div class="w-auto player-bg bg-gray-200 flex">
  <div class="w-3/5 m-16 rounded shadow">
    <div class="player bg-white">
      
      <Video-Player id="{{ .Params.video }}" next="{{ .Params.nextPage }}"paid="{{ .Params.paid }}"></Video-Player>

      <div class="video-blurb p-8">
        <article class="prose video-content max-w-none">
          <h1>{{.Title}}</h1>
          <div class="video-info">
            <span>📅 Posted: {{ dateFormat "Jan 2, 2006" .Date }}</span>
          </div>
          {{ .Content }}
          
          {{ partial "comments.html" . }}
        </article>
      </div>

    </div>
  </div>

  <div class="w-2/5 video-sidebar bg-white p-16 shadow">        
    <h2 class="text-3xl">🎥 Course Videos</h2>
    <div class="accordion"></div>
        {{ $currentPage := . }}
        {{ range sort (index .Site.Data.courses .Params.series) "weight" "asc" }}
          <h4 class="text-xl">📚 {{ .name }}</h4>
          {{ range .articles }}
            {{ if eq .state "published" }}
              <a class="nav-item" href="{{ .Site.BaseURL }}{{ .url }}">
                <span>{{ .title }}</span>
              </a>
              {{ else if eq .state "pending"}}
                <a class="nav-item disabled" href="#">
                  <span>{{ .title }}</span>
                </a>
            {{ end }}
          {{ end }}
        {{ end }}
    <div class="ad">
      <Carbon />
    </div>
  </div>
</div>

<div class="blue-spacer"></div>

{{ partial "footer.html" . }}
