<div class="about">
  <div class="container">
    <div class="row">
      <div class="col l3 center-align">
        <i class="ion ion-help-circled"></i>
      </div>
      <div class="col l9">
        <h3>TutorialEdge.net</h3>
        <p>This site is dedicated to bringing you the highest quality courses designed to teach you the ins and outs of programming with various frameworks and programming languages.</p>
        <p>Founded at the beginning of 2015, the site has blossomed from a handful of people visiting it per day to over 20,000 visitors per month and it's still growing.</p>
      </div>
    </div>
  </div>
</div>