{{ if eq .Params.author "Elliot Forbes" }}
<div class="author-container">
  <div class="author-image">
    {{ if .Params.authorImage }}
    <img src="{{ .Params.authorImage }}" alt="{{ .Params.author }}" />
    {{ else }}
    <img src="https://images.tutorialedge.net/images/logo.png" alt="{{ .Params.author }}" />
    {{ end }}
  </div>
  <div class="author-info">
    <h2>
      {{ .Params.author }}<br />
      <small
        >Twitter: <a href="https://twitter.com/elliot_f">@Elliot_f</a></small
      >
    </h2>
    <p>
      Hey, I'm Elliot and I've been working on TutorialEdge for the last 4 years! If you have any tips or suggestions as to how I can make it better, please let me know in the comments section!
    </p>
    <a href="https://www.patreon.com/bePatron?u=2531160" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
    <a href="https://www.buymeacoffee.com/tutorialedge" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="float: left;"></a>
    
  </div>
</div>
{{ end }}
