{{ if eq .Params.author "Elliot Forbes" }}
<div class="author-container">
  <div class="author-image">
    {{ if .Params.authorImage }}
    <img src="{{ .Params.authorImage }}" alt="{{ .Params.author }}" />
    {{ else }}
    <img src="https://images.tutorialedge.net/images/logo.svg" alt="{{ .Params.author }}" />
    {{ end }}
  </div>
  <div class="author-info">
    <h2>
      {{ .Params.author }}<br />
      <small
        >Twitter: <a href="https://twitter.com/elliot_f">@Elliot_f</a></small
      >
    </h2>
    <p>
      Hey, I'm Elliot and I've been working on TutorialEdge for the last 4 years! If you have any tips or suggestions as to how I can make it better, please let me know in the comments section!
    </p>

    <a style="float: left; margin-right: 10px;" href="https://www.patreon.com/bePatron?u=2531160"><img class="patron" src="https://images.tutorialedge.net/images/patreon.png" alt="become a patron"/></a>
    <a style="float: left;" href="https://www.buymeacoffee.com/tutorialedge" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a>
    
  </div>
</div>
{{ end }}
