<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Below-Suggestions -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6782067367590597"
     data-ad-slot="2365666516"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="author">
    <!-- <h3>{{ .Page }}</h3> -->
</div>

<div class="comments-section">
    <h2><i class="ion ion-android-chat"></i> Comments Section</h2>
    <div class="new-comment">
        <div class="avatar">
            <img src="https://s3.amazonaws.com/codementor/assets/images/avatar/default.png" alt="default avatar">
        </div>
        <div class="comment-input">
            <textarea placeholder="Leave a reply"></textarea>
            <br/>
            <div class="comment-actions hidden">
                <p class="float-left markdown-support"><i class="ion ion-social-markdown"></i> Markdown Supported!</p>
                <button class="btn btn-primary float-right" disabled>Submit</button>
            </div>
        </div>

    </div>
    <div class="comment">

    </div>
</div>