<footer>
	<div class="border-t md:px-4 md:pt-10 md:pb-5">
		<div class="flex flex-wrap md:max-w-screen-lg mx-auto">
		  <section class="footer-section-head md:border-none md:w-1/4">
			<h2 class="uppercase text-m font-bold tracking-wider text-blue-700 md:block">Quick Links</h2>
            <article class="h-auto -mt-4 md:mt-0 overflow-hidden">
              <ul class="my-5 text-sm tracking-wide">
                <li class="my-3 tracking-wide">
                  <a href="/course/golang/">Go Course</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/challenges/go/">Go Challenges</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/projects/hacker-news-clone-vuejs/">Building a HackerNews Clone in Vue.js</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/courses/ogimg-dev/frontend-01/">Building a SaaS Website with React.js and Node.js</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/projects/chat-system-in-go-and-react/">Building a Chat Application in Go and React.js</a>
                </li>
              </ul>
            </article>
          </section>
          
		  <section class="footer-section-head md:border-none md:w-1/4">
			<h2 class="uppercase text-m font-bold tracking-wider text-blue-700 md:block">About</h2>
            <article class="h-auto -mt-4 md:mt-0 overflow-hidden">
              <ul class="my-5 text-sm tracking-wide">
                <li class="my-3 tracking-wide">
                  <a href="/about/">About</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/blog/">Blog</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="https://teespring.com/stores/tutorialedge">🏪 Shop</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/privacy/">👓 Privacy Policy</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/code/">❗ Code of Conduct</a>
                </li>
                <li class="my-3 tracking-wide">
                  <a href="/pricing/">💲 Premium Accounts</a>
                </li>
              </ul>
            </article>
          </section>
          <section class="relative text-gray-700 font-light font-light border-b px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
			<h2 class="uppercase text-m font-bold tracking-wider text-blue-700 md:block mb-4">TutorialEdge</h2>
            <article class="h-auto md:mt-0">
			  <p class="text-sm mb-4">Sign up for a free account and attempt the growing selection of challenges up on the site!</p>
			  <a href="/profile/" class="btn mt-4">Sign Up 🚀</a>
            </article>
		</section>
		<section class="footer-section-head md:border-none md:w-1/4">
            <article class="h-auto -mt-4 md:mt-0 overflow-hidden">
				<Footer-Search></Footer-Search>
				<p class="text-sm mb-4 mt-8">🍪 This site uses cookies to improve the user experience and <b class="text-black">only for registered users.</b></p>
            </article>
          </section>
        </div>
      </div>
	<div class="max-w-screen-lg mx-auto border-none px-4">
        <section
          class="flex flex-col md:flex-row md:justify-between md:border-solid md:border-t text-gray-700 font-light text-sm pt-4 pb-6 md:pt-5 md:pb-6 w-full"
        >
			<div>
				<p class="leading-8 tracking-wide">
				&copy; TutorialEdge
				</p>
			</div>
			<div>
				<a href="/privacy/" class="leading-8 tracking-wide">Privacy Policy</a>
			</div>
		</section>
	</div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10255990-23"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-10255990-23');
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>

{{ $app := resources.Get "app/main.bundle.js" | minify | fingerprint }}
<script src="{{ $app.Permalink }}" integrity="{{ $app.Data.Integrity }}"></script>

</div>
</body>
</html>