
<!-- <div class="join-us">
	<div class="container">
		<div class="row">
			<div class="col l8">
				<h5>Become a Contributor!</h5>
				<p>Think you could improve the articles on this site? Feel free to submit a pull request to the sites github repo.</p>
			</div>
			<div class="col l4">
				<a href="https://github.com/elliotforbes/tutorialedge-v2"><button class="btn valign">Fork Our Repo</button></a>
			</div>
		</div>
	</div>
</div> -->

<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5>TutorialEdge.net</h5>
				<p class="text-lighten-4">This site is dedicated to bringing you the highest quality courses designed to teach you the ins and outs of programming with various frameworks and programming languages.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5>Links</h5>
				<ul>
					<li><a class="text-lighten-3" href="/post/">All Tutorials</a></li>
					<li><a class="text-lighten-3" href="/courses/">Courses</a></li>
					<li><a class="text-lighten-3" href="/get-involved/">Get Involved</a></li>
					<li><a class="text-lighten-3" href="/about/">About</a></li>
					<!--<li><a class="text-lighten-3" href="/advertise">Advertise</a></li>-->
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
		TutorialEdge © 2017 Copyright 
		</div>
	</div>
</footer>
<script src="{{ .Site.BaseURL }}js/dist/bundle.js"></script>
<script>
$(".button-collapse").sideNav();
</script>