<div class="wrapper">
    <div class="container">
        {{ if isset .Params "series" }}
            {{ if (eq (index .Params.series 0) "angularjs") }}
                <img src="{{ .Site.BaseURL }}/books/pro-angularjs.jpeg" alt="">
                <h1>Pro AngularJS</h1>
                <hr/>
                <div class="buy">
                    <a href="http://amzn.to/2rJnwqX">
                        <img src="https://cdn.pcpartpicker.com/static/img/vendor-logos/logo_merchant_amazon.png" alt="">
                    </a>
                </div>
            {{ else if (eq (index .Params.series 0) "ai") }}
                <img src="{{ .Site.BaseURL }}/books/game-ai-by-example.jpeg" alt="">
                <h1>Programming Game AI by Example</h1>
                <hr/>
                <div class="buy">
                    <a href="http://amzn.to/2r74d8f">
                        <img src="https://cdn.pcpartpicker.com/static/img/vendor-logos/logo_merchant_amazon.png" alt="">
                    </a>
                </div>
            {{ else if (eq (index .Params.series 0) "angular") }}
                <img src="{{ .Site.BaseURL }}/books/angular-2-cookbook.jpeg" alt="">
                <h1>Angular 2 Cookbook</h1>
                <hr/>
                <div class="buy">
                    <a href="http://amzn.to/2qtRcUl">
                        <img src="https://cdn.pcpartpicker.com/static/img/vendor-logos/logo_merchant_amazon.png" alt="">
                    </a>
                </div>
            {{ else if (eq (index .Params.series 0) "laravel-5.2") }}
                <img src="{{ .Site.BaseURL }}/books/laravel-up-running.jpeg" alt="">
                <h1>Laravel Up & Running</h1>
                <hr/>
                <div class="buy">
                    <a href="http://amzn.to/2s16C4B">
                        <img src="https://cdn.pcpartpicker.com/static/img/vendor-logos/logo_merchant_amazon.png" alt="">
                    </a>
                </div>
            {{ end }}
        {{ else }}
            <img src="{{ .Site.BaseURL }}/books/golang.png" alt="">
            <h1>The Go Programming Language</h1>
            <hr/>
            <div class="buy">
                <a href="http://amzn.to/2rJf3UF">
                    <img src="https://cdn.pcpartpicker.com/static/img/vendor-logos/logo_merchant_amazon.png" alt="">
                </a>
            </div>
        {{ end }}
    </div>
</div>