<div id="sidebar">

  <div class="right-sidebar hide-on-small-only youtube-subscribe">
    <div>
      <img src="https://images.tutorialedge.net/images/youtube.png" alt="">
    </div>
    <a href="https://www.youtube.com/tutorialedge">
      <h3>Subscribe on YouTube!</h3>
        <p>https://youtube.com/tutorialedge</p>
    </a>
  </div>


  <div class="right-sidebar hide-on-small-only">
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies.tags }}

    {{ $scratch := newScratch }}
    {{ range $taxonomy }}
    {{ if eq $.Params.series .Params.series }}
    {{ if not (in ($scratch.Get "tags") $taxonomyname) }}
    {{if not (eq $taxonomyname .Params.series) }}
    {{ $scratch.Add "tags" (slice $taxonomyname) }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ range $scratch.Get "tags" }}
    <h4 style="text-transform: uppercase;">{{ . }}</h4>
    <ul class="collection">
      {{ range sort $taxonomy }}
      {{ if eq $.Params.series .Params.series }}
      <li class="collection-item"><a href="{{.Permalink}}">{{ .Title }}</a></li>
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    {{ end }}
  </div>

  <div class="right-sidebar hide-on-small-only">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6782067367590597" data-ad-slot="4096707282"
      data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>