<div id="sidebar">
  
  <div class="right-sidebar hide-on-small-only">
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="UCwFl9Y49sWChrddQTD9QhRA" data-layout="full" data-count="default"></div>
  </div>

  <div class="right-sidebar hide-on-small-only">
    <h4>Related Articles</h4>
    {{ range $key, $value := .Params.series }}
    <ul class="collection">
      {{ range (index $.Site.Taxonomies.series $value) }}
      <li class="collection-item">
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  <div class="right-sidebar hide-on-small-only">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6782067367590597" data-ad-slot="4096707282" data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
