<div class="text-center welcome-bar-bg">
  <div class="welcome-bar">
      <h1>Hundreds of Free Programming Tutorials</h1>
      <p>Learn how to work with some of the most popular and cutting edge programming languages out.</p>
  </div>

  <div class="terminal">
    <pre>
      <code><span class="name">elliotforbes</span> ~ $ TutorialEdge.net
  ## Brand New Tutorials Every Week
  ## All Completely Free!
  ## Learn the Basics of:

  - Python
  - Golang
  - Angular
  - JavaScript
  - Rust</code>
    </pre>
  </div>
</div>

<div class="welcome-bar-clear"></div>