{{ partial "header.html" . }} {{ partial "welcome-bar.html" . }}

<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h4>YouTube Channel</h4>
				<p>Fancy learning some of these concepts through watching videos? Check out my YouTube Channel: <a href="https://www.youtube.com/tutorialedge">tutorialedge</a>. I'm going to be bringing loads of new videos out in the next few months!</p>
			</div>
			<div class="col-sm-4">
				<h4>Don't Want to Miss Anything?</h4>
				<div id="mc_embed_signup">
				<form action="https://elliotforbes.us9.list-manage.com/subscribe/post?u=f41d55ea3daf17874b3365e0b&amp;id=17a99aabf9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
					<label for="mce-EMAIL">Subscribe to our mailing list</label>
					<input type="email" value="" style="width: 100%;" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f41d55ea3daf17874b3365e0b_17a99aabf9" tabindex="-1" value=""></div>
					<div class="clear"><br/><input type="submit" style="width: 100%;" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
				</div>
			</div>
			<div class="col-sm-4">
				<h4>Follow On Twitter</h4>
				<p>I'm active on twitter so if you want to get in touch with me you can! Tweet to me <a href="https://twitter.com/elliot_f">@Elliot_f</a> and I'll get back to you as soon as I can!</p>
			</div>
			<div class="clear"></div>
			<div class="col-sm-4">
				<h4>Open Source</h4>
				<p>This site is entirely open sourced. If you wish to give back to the site or to learn how this site works then feel free to check out: <a href="https://github.com/elliotforbes/tutorialedge-v2">elliotforbes/tutorialedge-v2</a>.</p>
			</div>
			<div class="col-sm-4">
				<h4>New Book!</h4>
				<p>If you are interested in learning more about the cloud and developing applications that are cloud native then I recommend checking out my latest book: <a href="https://leanpub.com/an-introduction-to-cloud-development">An Introduction To Cloud Development.</a></p>
			</div>
			<div class="col-sm-4">
				<h4>Completely Free</h4>
				<p>The best thing about this site is that it is completely free and will remain so forever. There should be no pay wall to learning how to program and everyone from every background should be able to join the developer community.</p>
			</div>
		</div>
	</div>
</div>

<div class="courses">
	<div class="container">
		<div class="row">
			<div class="text-center col-sm-12">
				<h2>All Courses</h2>
				<p>Dive in to some of our in-depth courses that are all 100% free.</p>
			</div>
			<div class="clear"></div>
			{{ range (where .Site.Pages "Section" "course") }} {{ if and (ne .Title "Course") (ne .Title "Courses") }} 
			<div class="col-sm-6">
				<a href="{{ .Permalink }}">
					<div class="course-card">
						<div class="top-half">
							<img src="{{ .Site.BaseURL }}/images/{{ .Params.image }}" alt="">
						</div>
						<div class="bottom-half">
							<div class="title">{{.Title}}</div>
						</div>
					</div>
				</a>
			</div>
			{{ end }} {{ end }}
		
		</div>
	</div>
</div>

<div class="tutorials container">
	<h2>All Tutorials</h2>
	<div class="row flexbox-courses">
		{{ $paginator := .Paginate .Site.Pages }} {{ range $paginator.Pages }}
		<div class="col-sm-4">
			<a href="{{ .RelPermalink }}" class="blog-list-article">
				<div class="blog-list-article-date">{{ .Date.Format "02 Jan 06" }}</div>
				{{ range $key, $value := .Params.series }}
				<div class="blog-list-article-category">{{ $value }}</div>
				{{ end }}
				<div class="blog-list-article-content">

					<div class="blog-list-article-title">{{ .Title }}</div>
					<div class="blog-list-article-excerpt">{{ .Params.desc }}</div>
				</div>
			</a>
		</div>
		{{ end }}
	</div>
	<div class="clear"></div>
	<div class="center-align">
		{{ partial "pagination.html" . }}
	</div>
</div>

{{ partial "footer.html" . }}