{{ partial "header.html" . }}
{{ partial "welcome-bar.html" . }}


<div class="course-listing tutorials">
	<div class="container">
		<h2>All Tutorials</h2>
		<div class="row">
			{{ range .Paginator.Pages.ByDate.Reverse }}
			{{ $paginator := .Paginate (where .Pages "Type" "posts") 9 }}
			<div class="col-sm-4">
				<a href="{{ .Permalink }}">
					<div class="course-progress-box">
						{{ if .Params.image }}
						<img src="https://images.tutorialedge.net/images/{{ .Params.image }}" alt="{{ .Title }} Image">
						{{ end }}
						<h2>{{ .Title }}</h2>
						<p>Published: {{ dateFormat "Monday, Jan 2, 2006" .Date }}</p>
					</div>
				</a>

			</div>

			{{ end }}
		</div>
		<div class="clear"></div>
		<div class="center-align">
			{{ partial "pagination.html" . }}
		</div>
	</div>
</div>

<div class="stats-container">
	<h1>Site Stats</h1>
	<hr/>
	<div class="stats container">
		<div class="stat-box">
			<h2>300+ <br/><small>Tutorials</small></h2>
		</div>
		<div class="stat-box">
			<h2>12,000 <br/><small>Subscribers</small></h2>
		</div>
		<div class="stat-box">
			<h2>1,000 <br/><small>Registered Users</small></h2>
		</div>
	</div>
</div>


<div class="courses">
	<div class="course-listing">
		<div class="container">
			<div class="row">
				<div class="text-center col-sm-12">
					<h2>All Courses</h2>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				{{ range (where .Site.Pages "Section" "course") }} {{ if and (ne .Title "Course") (ne .Title "Courses") }}
				<div class="col-sm-4">
					<a href="{{ .Permalink }}">
						<div class="course-progress-box">
							<img src="https://images.tutorialedge.net/images/{{ .Params.image }}" alt="{{ .Title }} Image">
							<h2><small>Course</small><br />{{ .Title }}</h2>
						</div>
					</a>
				</div>
				{{ end }} {{ end }}
			</div>
		</div>
	</div>
</div>


{{ partial "footer.html" . }}