{{ partial "header.html" . }} {{ partial "welcome-bar.html" . }}

<div class="courses">
	<div class="container">
		<div class="row">
			<div class="text-center col-sm-12">
				<h2>All Courses</h2>
				<p>Dive in to some of our in-depth courses that are all 100% free.</p>
			</div>
			<div class="clear"></div>
			{{ range (where .Site.Pages "Section" "course") }} {{ if and (ne .Title "Course") (ne .Title "Courses") }}
			<div class="col-sm-3">
				<a href="{{ .Permalink }}">
					<div class="course-card">
						<div class="top-half">
							<img src="{{ .Site.BaseURL }}/images/{{ .Params.image }}" alt="{{ .Title }} Image">
						</div>
						<div class="bottom-half">
							<div class="title">{{.Title}}</div>
						</div>
						<div class="course-info">

						</div>
					</div>
				</a>
			</div>
			{{ end }} {{ end }}

		</div>
	</div>
</div>


<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/youtube.png" alt="">
			</div>
			<div class="col-sm-6">
				<h2>YouTube Channel</h2>
				<p>Subscribe to my YouTube channel for Video Programming tutorials and walkthroughs:
					<a href="https://www.youtube.com/tutorialedge">TutorialEdge</a>.</p>
			</div>
		</div>
	</div>
</div>


<div class="tutorials">
	<div class="container">
		<h2>All Tutorials</h2>
		<div class="row flexbox-courses">
			{{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }} {{ range $paginator.Pages }}
			<div class="col-sm-4">
				<a href="{{ .Permalink }}">
					<div class="course-card">
						<div class="top-half">
							{{ if isset .Params "image" }}
							<img src="{{ .Site.BaseURL }}/images/{{ .Params.image }}" alt="{{ .Title }} Image">
							{{ else }}
							<img src="{{ .Site.BaseURL }}/images/logo.png" alt="{{ .Title }} Image">
							{{ end }}
						</div>
						<div class="bottom-half">
							<div class="title">{{.Title}}</div>
							<div class="desc">{{ .Params.desc }}</div>
						</div>
						<div class="course-ino">
							<div><i class="ion ion-social-twitter-outline"></i> {{ .Params.author }}</div>
							<!-- {{ range $key, $value := .Params.series }}
							<div>{{ $value }}</div>
							{{ end }}

							<div>{{ .Date.Format "02 Jan 06" }}</div> -->
						</div>
					</div>
				</a>
			</div>

			{{ end }}
		</div>
		<div class="clear"></div>
		<div class="center-align">
			{{ partial "pagination.html" . }}
		</div>
	</div>
</div>

{{ partial "footer.html" . }}