.challenge-listing {
    background-color: #f6f6f6;
    padding: 40px;
    background-image: url(/images/svg/small-dots.svg);
    h3 {
        background-color: #f6f6f6;
        padding: 20px;
        width: auto;
    }
    
    a {
        text-decoration: none !important;
    }
      
    .challenges {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: repeat(3, 1fr);

        .challenge-box {
            flex: 0 0 32%;  
            margin: 20px;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
            box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
            color: rgba(14,30,37,.54);

            h2 {
                font-size: 20px;
                small {
                    font-weight: 800;
                    color: #999;
                    clear: both;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: 1rem;
            }

            button {
                margin: 0;
            }

        }
    }

}