footer.page-footer{
  background-color: white;
  color: #fff;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0;
  overflow: hidden;
  font-size: 1rem;
  border-top: 1px solid #e7e7ec;
  
  h3 {
    color: #586069 !important;
    font: 500 14px/16px Roboto,sans-serif;
    margin: 0 0 8px;
  }

  .row {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
  }
  .padded {
  padding: 40px;
  }
  .col {
    margin:0;
    padding: 0;
    flex: 1;
  }
}

footer .footer-special {
  flex: 1;
    background: #37424b;
}
footer .footer-special .logo{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #455a64;
  display: block;
}
footer .footer-special .logo a {
  margin: -6px 0 0;
  max-width: 216px;
  font-size: 26px;
  color: white;
  font-weight: 200;
  width: 100%;
  vertical-align: top;
}
footer .footer-special a {
  color: white !important;
}
footer .footer-special img {
  width: 50px;
  height: 50px;
}

footer.page-footer {
  .padded {
    ul {
      margin: 0px;
      margin-bottom: 40px;
      padding: 0px !important;
      li {
        list-style-type: none;
        a {
          line-height: 1.25;
          color: #586069;
          text-transform: uppercase;
          font-size: 0.8rem;
        }
      }
    }
    p {
      color: #cfd8dc;
    }
  }
}

footer .footer-copyright {
  background-color: #586069 !important;
  color: #fafafa !important;
  padding-left: 20px;
  padding-right: 20px;
}
