@import "variables";

body {
  font-family: "proxima-nova", "proxima-nova-all", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  line-height: 1.9em;
  font-size: 16px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.625;
  font-family: Inter,sans-serif;
  letter-spacing: -.014em;
  font-feature-settings: "ss03","zero","cv08","cv11" 1;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F7F9;
  color: #374151;
  color: rgba(55,65,81,var(--text-opacity));

  h1, h2, h3, h4, h5, h6 {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 600;
    font-style: normal;
    color: $gray;
  }

  b, strong {
    font-weight: 800;
    color: black;
  }

  h1, h2, h3, h4, h5 {
    line-height: 1.2;
    margin-bottom: 10px;
    clear: both;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  a {
    color: $link-blue;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .none {
    display: none !important;
  }


  .small-no-show {
    display: none;
  }

  .content-container {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  @media (min-width: 576px) { 
    .small-no-show {
      display: block;
    }

    .content-container {
      width: 100%;
      margin: auto;
    }
  }
  @media (min-width: 768px) { 
    .content-container {
      width: 100%;
      margin: auto;
    }
  }
  
  @media (min-width: 1200px) { 
    .content-container {
      width: 80vw;
      margin: auto;
    }
  }

  .paginate {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  .paginate .total-count {
    padding: 20px;
  }

}

.full-width {
  width: 95%;
  margin: auto;
}

.social-btns {
  text-align: center;
}
ul.social-btns{
  margin: 0;
  padding: 5px;
  margin-bottom: 25px;
}

.social-btns li {
  margin: 8px;
  display: inline-block;
}

@media (min-width: 768px) {

  .social-btns li {
      margin: 5px;
  }
}

hr {
  width: 50%;
  color: #f6f4f4;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Dissolve Button */
.social-btn-dissolve {
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  border-radius: 50%;
  display: block;
  position: relative;
}

.social-btn-dissolve:hover {
  color: #fff;
}

.social-btn-dissolve:hover:before {
  opacity: 0;
  -webkit-transform: scale(1.35);
  transform: scale(1.35);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.social-btn-dissolve:before {
  background: inherit;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: none;
  transition: none;
}

.clear {
  width: 100%;
  height: 1px;
  clear: both;
}


.course-progress-box {
  background-color: white;
  font-family: brandon-grotesque, sans-serif;
  padding: 20px 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  // text-align: center;
  cursor: pointer;
  
  box-shadow: $box-shadow;
}
a:hover .course-progress-box {
  text-decoration: none;
}

.course-progress-box img {
  width: 40px;
  margin-bottom: 20px;
}
.course-progress-box p {
  color: $gray;
  font-size: 1.1rem !important;
  font-weight: 500;
  line-height: 1.5;
}

.course-listing a {
  text-decoration: none !important;
}


.paginate {
  width: 100%;
  text-align: center;
  padding: 20px;
  .btn-primary {
    font-weight: 700;
    padding: 10px 20px;
    background: #0276d9 !important;
    background-image: linear-gradient(22deg, #0276d9,#2C9CFC) !important;
    border-bottom: 1px solid #0376d8 !important;
    border: none;
  }

  .total-count {
    padding: 20px;
  }
}

.blue-spacer {
  width: 100%;
  height: 120px;
  background-image: url(/images/svg/small-dots.svg);
  background-color: $lightest-blue;
  border-top: 1px solid #e7e7ec;
}

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

.native-js  {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.native-banner {
  display: flex;
  padding: 20px 20px;
  text-decoration: none;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.native-banner .native-img {
  margin-right: 20px;
  max-height: 50px;
  line-height: 0;
}

.native-banner .native-main {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;

  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: center;
}

.native-banner .native-details {
  display: flex;
  margin-right: 20px;

  flex-flow: column nowrap;
}

.native-banner .native-company {
  margin-bottom: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  line-height: 1;
}

.native-banner .native-desc {
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.4;
}

.native-banner .native-cta {
  padding: 10px 16px;
  border-radius: 3px;
  box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 400;
  font-size: 12px;
  transition: all .3s ease-in-out;
  transform: translateY(-1px);
}

.native-banner .native-cta:hover {
  box-shadow: none;
  transform: translateY(1px);
}

.native-source {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  border-top: 0;
  border-top-left-radius: 3px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 7px;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
  .native-banner,
  .native-banner .native-main {
    flex-flow: column nowrap;
  }

  .native-banner .native-img,
  .native-banner .native-details {
    margin: 0;
  }

  .native-banner .native-img {
    display: none;
  }

  .native-banner .native-company {
    letter-spacing: 1px;
  }

  .native-banner .native-details {
    text-align:  left;
    font-size: 14px;
  }

  .native-banner .native-cta {
    display: none;
  }
}