.course-sidebar {
  background-color: white;
  border-radius: 4px;
  padding-top: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
  z-index: 100;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;

  a {
    display: block;
  }
  h5 {
    font-size: 18px;
    font-weight: 200;
  }
  img {
    height: 30px !important;
    width: 30px !important;
    float: left;
    margin-right: 10px;
  }
}

.left-sidebar {
  position: sticky;
  margin-top: 40px;

  h4 {
    margin-top: 40px;
    text-transform: capitalize;
  }

  a:hover {
    transition: 1s;
    color: black;
  }

  .nav-item {
    color: rgb(122, 132, 142);
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    -webkit-box-align: center;
    border-width: 1px 0px 1px 1px;
    border-style: solid solid solid;
    border-color: transparent transparent transparent;
    border-image: initial;
    padding: 4px 20px 8px 16px;
    margin: 0;
    border-right: 0px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .nav-item::before {
    top: 0px;
    left: 0px;
    width: 1px;
    bottom: 0px;
    content: "";
    position: absolute;
    background: rgb(230, 236, 241);
}

}

.right-sidebar:before {
  content:"";
  background-color:#fff;
  position: relative;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.right-sidebar {
  text-decoration: none;
  width: 100%;
  display: block;
  padding-right: -20px;
  outline: none;
  background-color: #fff;
  h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #3E4750!important;
  }r
  a {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #718096!important;
  }
  .collection {
    margin-top: 20px;
    margin-left: 0;
    margin: 0;
    padding: 0;
  }
  
  .collection-item {
    border-left: none;
    position: relative;
    display: block;
    line-height: 1.5rem; 
    margin-bottom: 12px;
  }
}

.right-sidebar .collection-item a:hover {
  color: #56CDFC;
  border-color: #E7E7EC;
}

.right-sidebar .collection-item:hover:before {
  background: #56CDFC;
  content: '';
  display: block;
  height: 100%;
  left: -20px;
  position: absolute;
  top: 0;
  width: 4px;
}

.youtube-subscribe {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(14,30,37,.54);
  
  div {
    img {
      max-height: 100px;
      width: auto;
      display: block;
      margin: auto;
    }
  }

  a {
    h3 {
      margin-top: 10px;
    }
    margin: 0;
    padding: 0;
  }
}

.patron {
  width: 170px;
  height: 37px;
  margin-bottom: 20px;
  border-radius: 8px;
}


.toc {
  width: 100%;
  margin-top: 40px;
  line-height: 1.2em;
  background-color: white;
  z-index: 100;

  i {
    padding-right: 5px;
  }

  h4 {
    font-size: 10px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
    font-size: 16px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 500;
    line-height: 2;
   }



  ul li a {
    display: -webkit-box;
    color: #74818D;
    cursor: pointer;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 4px;
    vertical-align: middle;
    text-decoration: none;
    -webkit-box-align: center;
  }

  ul li a:hover {
    color: green;
    transition: 1s;
  }
}

