@import "variables";

.top-bar {
  width: 100%;
  background-color: $top-bar-blue;
  color: #000;
  z-index: 20;
  padding: 20px;
  text-align: center;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  
  img {
    width: auto;
    height: 100px;
    margin-right: 40px;
  }

  h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.4;
    background-color: $top-bar-blue;
  
  }
}

.post-info {
  line-height: 1.35;
  font-size: 0.9rem;
  font-weight: 500;
  color: #005469;

  img.icon {
    margin-right: 5px;
    margin-top: -1px;
    width: 20px;
    height: 20px;
  }

  img.author {
    width: 35px;
    height: 35px;
    margin: -10px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .post-info-inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 20px;
  }
  a {
    color: #005469;
  }
  .badge-info {
    letter-spacing: 0.05rem;
    padding: 5px 15px;
    background-color: #0F7895 !important;
  }
}

.post-body {
  padding: 40px;
  background-color: white;
  z-index: 100;
  border-left: 1px solid #E6ECF1;
}



article {
  font-size: 16px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.625;

  .info {
    display: flex;
    justify-content: space-between;
  
    img {
      width: 25px;
      margin-top: 3px;
      height: auto;
      border-radius: 100%;
      float: left; 
      margin-right: 10px;
    }

  }


  h1 {
    font-size: 1.75rem;
    line-height: 1.24;
    font-weight: 400;
    color: #3a3c4c;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
  }

  .amazon-link {
    margin: 20px 0px;
    padding: 30px 20px 30px 100px;
    background: #f8f8f8 url(https://images.tutorialedge.net/uploads/amazon.png) no-repeat 20px 50%;
    background-size: 65px 60px;
    background-repeat: no-repeat;
    font-weight: bold;
    clear: both;
  }
  .book-placement img.book-img {
    height: 120px;
    width: auto;
  }
  .book-placement h2 {
    margin: 0;
    padding: 0;
  }
  .book-placement {
    border: 1px solid #cfd8dc;
    padding: 20px;
  }
  img.book-img {
    float: left;
    width: 23%;
    height: auto;
    margin: 20px;
  }

  img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .post_divider {
    height: 1px;
    background-color: #e6edfb;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    display: block;
    height: 360px;
    margin-bottom: 20px;
  }

  pre {
    background-color: #183549 !important;
    overflow: auto;
    padding: 30px;
    margin: 0;
    overflow: auto;
    border-radius: 8px;
    margin-top: 20px;
  }

  .filename {
    background: #f2f6fa;
    padding: .7rem 1rem .75rem;
    font-size: 1rem;
    color: $gray;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .filename + .highlight > pre {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  

  .highlight {
    margin-bottom: 20px;
  }

  .highlight pre {
    padding: 30px;
    margin: 0;
    overflow: auto;
    border-radius: 8px;
  }


  blockquote {
    background: #f2f6fa;
    font-size: 17px;
    font-size: 1.0625rem;
    padding: 20px 24px;
    border-radius: 0.5625rem;
    border-top-left-radius: 0.1625rem;
    border-bottom-left-radius: 0.1625rem;
    margin-top: 24px;
    border-left: 4px solid #143650;
  }

  blockquote p {
    margin: 0;
  }

  hr {
    height: 1px;
    margin: 2em 0;
    border: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(
      left,
      transparent,
      rgba(0, 0, 0, 0.09) 10%,
      rgba(0, 0, 0, 0.09) 90%,
      transparent
    );
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.09) 10%,
      rgba(0, 0, 0, 0.09) 90%,
      transparent
    );
  }

  table {
    display: block;
    overflow-x: auto;
    margin: 3.2rem 0 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.35rem;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
    align-self: flex-start;
  }
  th {
    padding: 12px;
    border-bottom: 3px solid #edf3f8;
    text-align: left;
    color: #343f44;
    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.65em;
    letter-spacing: .2px;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  td {
    min-width: 150px;
    padding: 14px;
    border-bottom: 1px solid #edf3f8;
    border-right: 1px solid #edf3f8;
    vertical-align: top;
    text-align: left;
    line-height: 1.6em;
  }

  .github-banner {
    border-top: 1px solid #f6f4f4;
    background-color: #fafafa;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .github-banner img {
    height: 180px;
    width: auto;
  }

  .github-btn {
    background-color: #24292e;
  }
}

.container-fluid {
  z-index: 10;
}

.content {
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  color: rgba(14,30,37,.54);
  margin-bottom: 40px;
  z-index: 10;
  text-decoration: none;
  
  outline: none;
  color: #3b454e;
  line-height: 1.9em;
  font-size: 18px;

  p {
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .anchorjs-link {
    color: #ff5231;
  }

  h1.title {
    margin-left: 0;
    margin-top: 20px;
  }

  h1 {
    margin-top: 73px;
    font-size: 1.75rem;
    line-height: 1.24;
    color: rgb(36, 42, 49);
    margin: 43px 0px 24px;
    display: flex;
    font-weight: 600;
    position: relative;
  }

  h1:before {
    top: -52px;
    left: 0;
    width: 100%;
    height: 1px;
    margin-bottom: 24px;
    margin-top: 20px;
    content: " ";
    position: absolute;
    background-color: #E6ECF1;
  }

  ol {
    padding-bottom: 24px;
  }

  .highlight {
    padding-bottom: 24px;
  }

  p code {

    display: inline-block;
    margin: 0;
    font-size: 1em;
    color: #5c6bc0;
    -webkit-font-feature-settings: "tnum" 1;
    font-feature-settings: "tnum" 1;
    font-family: monospace;
  }

}
