@import "variables";

.top-bar {
  width: 100%;
  background: #0276d9;
  background-image: linear-gradient(22deg, #0276d9,#2C9CFC);
  padding: 25px;
  padding-top: 40px;
  border-bottom: 1px solid #e7e7ec;
  color: white;

  img {
    width: auto;
    height: 100px;
    margin-right: 40px;
  }

  h1 {
    font-size: 36px;
    font-weight: 700 !important;
    line-height: 1.4;
    color: white;
  }

  h1 small {
    font-size: 16px;
    font-weight: 500;
  }

  h2 {
    line-height: 1.4;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0;
    color: white;
  }

  p {
    margin-top: 20px;
  }

  ul li {
    list-style: square;
  }
}

.post-info {
  line-height: 1.35;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 17px;
  background-color: #fff;
  font-weight: 500;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  color: #4d545d;

  img.icon {
    margin-right: 5px;
    margin-top: -1px;
  }

  img.author {
    width: 35px;
    height: 35px;
    margin: -10px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .post-info-inner {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 20px;
  }
  a {
    color: #4d545d;
  }
  .badge-info {
    letter-spacing: 0.05rem;
    padding: 5px 15px;
    background-color: #0F7895 !important;
  }
}

// .container-wrapper {
//   width: 75%;
//   margin: auto;
// }

article {
  margin: 2.4rem 0 0;
  font-size: 1.45rem;
  line-height: 1.62;
  color: #3b454e;

  h1 {
    font-size: 1.75rem;
    line-height: 1.24;
    font-weight: 400;
    color: #3a3c4c;
    margin: 0px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }

  .amazon-link {
    margin: 20px 0px;
    padding: 30px 20px 30px 100px;
    background: #f8f8f8 url(https://images.tutorialedge.net/uploads/amazon.png) no-repeat 20px 50%;
    background-size: 65px 60px;
    background-repeat: no-repeat;
    font-weight: bold;
    clear: both;
  }
  .book-placement img.book-img {
    height: 120px;
    width: auto;
  }
  .book-placement h2 {
    margin: 0;
    padding: 0;
  }
  .book-placement {
    border: 1px solid #cfd8dc;
    padding: 20px;
  }
  img.book-img {
    float: left;
    width: 23%;
    height: auto;
    margin: 20px;
  }

  img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
  }

  .post_divider {
    height: 1px;
    background-color: #e6edfb;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    display: block;
    height: 360px;
    margin-bottom: 20px;
  }

  .filename {
    background: #e0e9f3;
    padding: .7rem 1rem .75rem;
    font-size: 1rem;
    color: $gray;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  pre {
    background-color: #f9f9f9 !important;
    overflow: auto;
    padding: 30px;
    margin: 0;
    overflow: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    margin-top: 20px;
  }
  .highlight {
    margin-bottom: 20px;
  }

  .highlight pre {
    padding: 30px;
    margin: 0;
    overflow: auto;
    border-radius: 8px;
  }


  blockquote {
    background: #f2f6fa;
    font-size: 17px;
    font-size: 1.0625rem;
    padding: 20px 24px;
    border-radius: 0.5625rem;
    border-top-left-radius: 0.1625rem;
    border-bottom-left-radius: 0.1625rem;
    margin-top: 24px;
    border-left: 4px solid #143650;
  }

  blockquote p {
    margin: 0;
  }

  hr {
    height: 1px;
    margin: 2em 0;
    border: 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(
      left,
      transparent,
      rgba(0, 0, 0, 0.09) 10%,
      rgba(0, 0, 0, 0.09) 90%,
      transparent
    );
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.09) 10%,
      rgba(0, 0, 0, 0.09) 90%,
      transparent
    );
  }

  table {
    display: block;
    overflow-x: auto;
    margin: 3.2rem 0 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.35rem;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
    align-self: flex-start;
  }
  th {
    padding: 12px;
    border-bottom: 3px solid #edf3f8;
    text-align: left;
    color: #343f44;
    font-weight: 600;
    font-size: 1.35rem;
    line-height: 1.65em;
    letter-spacing: .2px;
  }
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  td {
    min-width: 150px;
    padding: 14px;
    border-bottom: 1px solid #edf3f8;
    border-right: 1px solid #edf3f8;
    vertical-align: top;
    text-align: left;
    line-height: 1.6em;
  }

  .github-banner {
    border-top: 1px solid #f6f4f4;
    background-color: #fafafa;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .github-banner img {
    height: 180px;
    width: auto;
  }

  .github-btn {
    background-color: #24292e;
  }
}

.toc {
  color: #707C80 !important;
  // padding: 20px;
  // background: #f2f6fa;

  width: 100%;
  padding: 20px;
  margin-top: 20px;
  font-size: 0.85rem;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  color: rgba(14,30,37,.54);

  i {
    padding-right: 5px;
  }

  h4 {
    color: #333 !important;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li a {
    color: #555F61;
    margin: 0px;
    cursor: pointer;
    display: flex;
    padding: 4px 16px 4px 24px;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    -moz-box-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 0;
    margin-left: 0;

    &:hover {
      color: #0a84ae;
    }
  }
}

.content {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  color: rgba(14,30,37,.54);
  margin-bottom: 40px;
  margin-top: 20px;
  z-index: 100;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  color: #3b454e;
  line-height: 1.65;
  font-size: 1rem;

  .anchorjs-link {
    color: #ff5231;
  }

  h1 {
    font-size: 1.75rem;
    line-height: 1.24;
    color: rgb(36, 42, 49);
    margin: 73px 0px 24px;
    display: flex;
    font-weight: 800;
    position: relative;
    padding: 0;
    margin-left: 20px;

    &:before {
      top: -32px;
      left: 0px;
      width: 100%;
      height: 1px;
      content: " ";
      position: absolute;
      background-color: rgb(230, 236, 241);
    }
  }

  h2,
  h3,
  h4,
  h5 {
    margin-left: 20px;
    &:before {
      top: -32px;
      left: 0px;
      width: 100%;
      height: 1px;
      content: " ";
      position: absolute;
    }
  }
  p code {
    padding: .3em .4em;
    border-radius: .3em;
    white-space: normal;
    background: #e5eff5;
    text-shadow: none;
    color: #343f44;
    font-size: .9em;
    font-family: Operator Mono SSm A, Operator Mono SSm B, Consolas, monospace;
  }
}
