.helpful-post {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
  color: rgba(14,30,37,.54);
  width: 100%;
  h5 {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
  }
  label {
    color: rgba(0, 0, 0, 0.54);
  }
  textarea.form-control {
    background: transparent none repeat scroll 0% 0% !important;
    z-index: auto;
    position: relative;
    padding: 10px;
    width: 90% !important;
    line-height: 28px;
    font-size: 14px;
    transition: none 0s ease 0s;
  }
  button {
    background: #0276d9;
    background-image: linear-gradient(22deg, #0276d9,#2C9CFC);
    border-bottom: 1px solid #0376d8;
    border: none;
    border: none !important;
    width: 100%;
  }

  .helpful textarea:focus .form-control {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }
  .helpful {
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
    font-size: 1rem;
  }
  .helpful::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 4px;
    border-left: 4px solid #0a84ae;
    margin-left: 6px;
  }
}
