// This file will hold the values of colors and style elements
// that are used in multiple components in order to keep style 
// across the site consistent and easy to update.

// Colors
$dark-blue: #232A2D;
$darkest-blue: #263344;
$link-blue: #0F607A;
$light-blue: #1D84B5;
$top-bar-blue: #fafbfc;
$lightest-blue: #F2F5F7;
$light-gray: #4a4a4a;
$gray: #222;

// card styling
$box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
$card-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
$border-radius: 8px;