.video-bg {
  background-image: url(/images/svg/small-dots.svg);
}

.player {
  margin: 80px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  overflow: hidden;
  border-radius: 10px;
  h1 {
    font-size: 1.75rem;
  }

  .video-content {
    padding: 20px;

    .video-info {
      padding-top: 10px;
      color: #666;
    }

    h1 {
      margin: 0;
      border: 0;
      &::before{
        display: none;
      }
    }

  }

}
.ad {
  margin: 80px;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url("https://images.tutorialedge.net/uploads/screencast_overlay_2.png");
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}
.info {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 1rem;
  color: white;
  text-align: center;
  z-index: 100;
  h2 {
      color: white;
      font-size: 1.5rem;;
  }
}

#screencast { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: hidden; 
  max-width: 100%; height: auto;
} 

#screencast iframe, #screencast object, #screencast embed { 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.btn-white {
  color: white;
  border: 2px solid white;
  &:hover {
      color: rgba(255,255,255,.65)
  }
}

.video-blurb{
  background-color: white;
  padding: 20px;
  z-index: 100;
  padding-bottom: 40px;
}

.video-sidebar {
  padding: 40px;
  background-color: white;
  border-left: 1px solid #E6ECF1;
  
  .disabled > span{
    color: #999;
  }

  h2 {
    margin-bottom: 60px;
  }

  h4 {
      margin-top: 40px;
      text-transform: capitalize;
      position: relative;
      &::before {
        top: -52px;
        left: 0;
        width: 100%;
        height: 1px;
        margin-bottom: 24px;
        margin-top: 20px;
        content: " ";
        position: absolute;
        background-color: #E6ECF1;
      }
  }

  .current-page {
    color: #2697F7;
  }

  a:hover {
      transition: 1s;
      color: #13A352;
  }

  .play-button {
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
    height: auto;
    float: left;
    stroke: green;
  }

  .nav-item {
      color: #3B454E;
      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;
      -webkit-box-align: center;
      border-width: 1px 0px 1px 1px;
      border-style: solid solid solid;
      border-color: transparent transparent transparent;
      border-image: initial;
      padding: 4px 4px 8px 16px;
      margin: 0;
      border-right: 0px;
      font-size: 15px;
      line-height: 24px;
      text-decoration: none;
  }

  .nav-item::before {
      content: url('https://images.tutorialedge.net/images/play-button.svg');
      width: 20px;
      padding-top: 5px;
      margin-right: 10px;
      margin-top: 2px;
      height: auto; 
  }

}