<div class="code-terminal">
  <div class="terminal-window">
    <div id="editor{{- .Get 0 -}}">{{ .Inner }}</div>
  </div>
  
  <div class="controls">
    <div class="execute">
      <button onclick="executeCodeSnippet({{- .Get 0 -}}, {{- .Get 1 -}})" class="btn btn-outline-primary"><i class="ion ion-ios-play-outline"></i> Run</button>
    </div>
    <div id="output-{{- .Get 0 -}}" class="output collapse"></div>
  </div>
</div>

<script src="/js/ace/ace.js"  type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/mode-python.js"  type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/theme-monokai.js"  type="text/javascript" charset="utf-8"></script>

<script>

  var editor = ace.edit("editor{{- .Get 0 -}}");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/python");
  editor.setOptions({
      maxLines: 15
  });

  function executeCodeSnippet(id, language) {
    var e = document.createElement("span");
    e.innerHTML = '>';
    document.getElementById("output-" + id).classList.remove("collapse");

    var code = document.getElementById("editor" + id).innerText;
    switch (language) {
      case "python":
        sendCodeToLambda(id, "https://43xaudt448.execute-api.eu-west-1.amazonaws.com/dev/executePython", code);
        break;
      default:
        console.log("Unsupported Language");
    }
  }

  function sendCodeToLambda(id, url, code) {
    fetch(url, {
      method: 'POST',
      headers: {
        "Content-Type": "text/plain"
      },
      body: code,
    }).then(function (resp) {
      return resp.text();
    }).then(function(data) {
      var e = document.createElement("span");
      e.innerHTML = '>';
      document.getElementById("output-" + id).classList.remove("collapse");
      document.getElementById("output-" + id).appendChild(e);
      document.getElementById("output-" + id).append(data);
      document.getElementById("output-" + id).appendChild(document.createElement('br'));
    }).catch(console.log);
  }
</script>

<style>
#editor{{- .Get 0 -}} { 
  width: 100%;
  font-size: 15px;
  line-height: 28px;
}


.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 3px;
  left: 10px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 20px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 30px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  background-color: #d7d7d7;
  margin: 0 auto;
  margin-bottom: 10px;
}


.code-terminal {
  overflow: hidden;
  display: block;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #272822;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.2);
}

.execute {
  background-color: #f6f6f6;
  margin-top: -4px;
  padding: 10px;
}


.output {
  color: white;
  padding: 10px 20px;
  background-color: #272822;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.output span {
  color: #f92672; 
  margin-right: 15px; 
}
</style>