.comments {
  width: 100%;
  padding-bottom: 40px;
  h2 {
      padding-bottom: 20px;
  }

  .comment-login {
    background-color: white;
    padding: 40px;
    margin-bottom: 40px;
    border: 1px solid #efefef;
    display: flex;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    color: rgba(14,30,37,.54);
    width: 100%;
    h2 {
      padding: 0;
    }
    .image {
      flex: 1;
      img {
        width: 125px;
        height: auto;
        display: block;
        margin: auto;
      }
    }
    .register {
      flex: 3;
      // background-color: blue;
    }
  }


  .comments-section {
    margin-bottom: 3em;
    color: #333;
    font-size: 16px;
    width: 100%;

    padding-top: 40px;
    .new-comment {
      display: flex;
      .avatar {
        flex: 1;
        display: inline-block;
        position: relative;

        img {
          border-radius: 100%;
          width: 60px;
          height: 60px;
          display: block;
          margin: auto;
          margin-top: 15px;
        }
      }
      .comment-input {
        flex: 6;
        textarea {
          background-color: #fff;
          border: 1px solid #efefef;
          width: 100%;
          overflow: hidden;
          overflow-wrap: break-word;
          padding: 1em 1.2em;
        }

        .markdown-support {
            color: #777;
        }

      }
    }

    .comment {
        margin-top: 20px;
        display: flex;
        
        .author{
            flex: 1;
            img {
                border-radius: 100%;
                color: white;
                display: block;
                width: 75px;
                margin: auto;
                margin-top: 15px;
                height: 75px;
            }
        }
        .comment-body {
          border-radius: 8px;
          -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
          box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
          color: rgba(14,30,37,.54);
            flex: 5;
            background-color: white;
            padding: 40px;
        }
    }
  }
}