.course-listing {
  background-color: #f6f6f6;
  padding-top: 20px;
}

.course-listing h3{
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
}


.course-outline {
  background-color: white;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.badge-info {
  background-color: rgb(50, 138, 241) !important;
  padding: 5px 12px;
}