.course-listing {
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px;
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .course-progress-box {
      flex: 1 1 26%;
      margin: 20px;
      padding-top: 20px;
      background-color: white;
      border-radius: 8px;
      -webkit-box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
      box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
      color: rgba(14,30,37,.54);

      p {
        font-size: 1rem;
      }
    }

    .course-listing h3 {
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }
}
.course-outline {
  background-color: white;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}
.badge-info {
  background-color: rgb(50, 138, 241) !important;
  padding: 5px 12px;
}
