body {
  font-family: "proxima-nova", "proxima-nova-all", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  font-size: 1.25rem;
  line-height: 1.62;
  color: #222;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F5F7;

  h1, h2, h3, h4, h5, h6 {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 200;
    color: #333;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0px;
    clear: both;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  a {
    color: #0F607A;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .none {
    display: none !important;
  }


  .small-no-show {
    display: none;
  }

  .content-container {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  @media (min-width: 576px) { 
    .small-no-show {
      display: block;
    }

    .content-container {
      width: 100%;
      margin: auto;
      margin-bottom: 40px;
    }
  }
  @media (min-width: 768px) { 
    .content-container {
      width: 100%;
      margin: auto;
      margin-bottom: 40px;
    }
  }
  
  @media (min-width: 1200px) { 
    .content-container {
      width: 80vw;
      margin: auto;
      margin-bottom: 40px;
    }
  }

  .paginate {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  .paginate .total-count {
    padding: 20px;
  }

}

.full-width {
  width: 95%;
  margin: auto;
}

.social-btns {
  text-align: center;
}
ul.social-btns{
  margin: 0;
  padding: 5px;
  margin-bottom: 25px;
}

.social-btns li {
  margin: 8px;
  display: inline-block;
}

@media (min-width: 768px) {

  .social-btns li {
      margin: 5px;
  }
}

hr {
  width: 50%;
  color: #f6f4f4;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Dissolve Button */
.social-btn-dissolve {
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  line-height: 35px;
  border-radius: 50%;
  display: block;
  position: relative;
}

.social-btn-dissolve:hover {
  color: #fff;
}

.social-btn-dissolve:hover:before {
  opacity: 0;
  -webkit-transform: scale(1.35);
  transform: scale(1.35);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.social-btn-dissolve:before {
  background: inherit;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: none;
  transition: none;
}

.social-btn-dissolve.twitter {
  background: #4cc4f2;
}

.social-btn-dissolve.facebook {
  background: #3b5998;
}

.social-btn-dissolve.google {
  background: #dd4b39;
}

.social-btn-dissolve.pinterest {
  background: #cb2027;
}

.social-btn-dissolve.instagram {
  background: #9b6954;
}

.social-btn-dissolve.tumblr {
  background: #32506d;
}

.social-btn-dissolve.linkedin {
  background: #0077B5;
}

.clear {
  width: 100%;
  height: 1px;
  clear: both;
}


.course-progress-box {
  background-color: white;
  box-shadow: 0 14px 28px 0 rgba(115,143,147,.4);
  padding: 20px 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
}
a:hover .course-progress-box {
  text-decoration: none;
}

.course-progress-box img {
  width: 100px;
  height: auto;
  margin: auto;
}
.course-progress-box p {
  color: #738f93;
  font-size: 13px;
  line-height: 1.5;
}

.course-listing a {
  text-decoration: none !important;
}

.course-progress-box h2 {
  margin: 0;
  color: #39424e;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}
.course-progress-box h2>small {
  color: #738f93;
  font-weight: 400;
  line-height: 1.4;
  font-size: 12px;
  text-transform: uppercase;
}

.course-progress-box button {
  font-weight: 700;
  padding: 10px 20px;
}


.paginate {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.paginate .total-count {
  padding: 20px;
}