.terminal {
  width: 60%;
  margin: -11rem auto -1rem auto;
  text-align: left;
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 285px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}
.terminal code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}
.terminal span.name {
  color: #cda869;
}

/* Homepage welcome bar */
.welcome-bar {
  background: #143650;
  color: #fff;
  width: 100%;
  padding: 2rem 0 10rem 0;
  text-align: center;
  margin-top: -1px;
}

.welcome-bar h1 {
  color: #fff !important;
  font-size: 2.9375rem;
  font-weight: 600;
  line-height: 3.125rem;
}
.welcome-bar p {
  margin-bottom: 40px;
}
/* End of homepage welcome bar */
.features {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0d5ea6;
  text-align: left;
}

.features h2{
  font-family: geomanist,-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
font-weight: 500;
font-size: 52px;
margin-top: 0;
margin-bottom: 0;
color: #fff;
line-height: 64px;
}
.features img {
  width: 220px;
  height: auto;
  padding: 0;
}
.features p {
  font-size: 16px;
color: #fff;
line-height: 18px;
margin-top: 16px;
display: inline-block;
}
.features a {
  color: #fff;
  text-decoration: underline;
}

.join-us {
  background-color: #22798A;
  width: 100%;
  padding: 20px;
}

.join-us h5 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.join-us p {
  clear: both;
  color: #fff;
  font-size: 13px;
  margin-bottom: 0;
}

.join-us button {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  color: #22798A;
}

