.quiz {
    border-radius: 10px;
    border: 2px solid #0466D7;
    padding: 20px 40px;
    .answers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .btn {
            width: 45%;
            margin-bottom: 10px;
        }
    }
}