{{ partial "header.html" . }}

<div class="title-bar">
	<h1>{{ .Title }}</h1>
</div>

<div class="content container">
	<div class="post-content">
		{{ .Content }}

		<hr>
		<h2 class="text-center">Tutorials</h2>
		<br>
		<div class="list-group">

			{{ range $key, $value := .Params.series }} {{ range (index $.Site.Taxonomies.series $value) }}
			<a href="{{ .Permalink }}" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ .Title }}</h5>
					<small> <i class="ion ion-ios-clock-outline"></i> {{ .ReadingTime }} Minutes</small>
				</div>
				<p class="mb-1">{{ .Page.Params.desc }}</p>
				<small>Published: {{ dateFormat "Monday, Jan 2, 2006" .Page.Date }}</small>
			</a>
			{{ end }} {{ end }}
		</div>
	</div>
</div>



{{ partial "footer.html" . }}